.main-container {
    // background: #f1f1f1;
    height: 65vh;
    overflow: hidden;
}
.responsive-img {
  max-width: 60%; /* Ensures the image does not exceed the parent's width */
  height: auto; /* Maintains aspect ratio */
}
/* Portrait mode */
@media (orientation: portrait) and (max-width: 576px) {
  .responsive-img {
    max-width: 90%; /* Slightly smaller image for small portrait screens */
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .responsive-img {
    max-width: 70%; /* Adjust image size for larger portrait screens */
  }
}

/* Landscape mode */
/* For 608x322 landscape screens */
@media (orientation: landscape) and (max-width: 608px) and (max-height: 322px) {
  .responsive-img {
    max-width: 40%; /* Smaller image for 608x322 landscape screens */
  }
}
@media (orientation: landscape) and (max-width: 620px) and (max-height: 325px) {
  .responsive-img {
    max-width: 40%; /* Smaller image for 608x322 landscape screens */
  }
}
/* For other small landscape screens */
@media (orientation: landscape) and (max-width: 576px) {
  .responsive-img {
    max-width: 50%; /* Slightly larger image for small landscape screens */
  }
}

/* For medium to large landscape screens */
@media (orientation: landscape) and (min-width: 768px) {
  .responsive-img {
    max-width: 60%; /* Adjust image size for larger landscape screens */
  }
}


/* Table Container */
.table-container {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 20px;
}

/* Custom Table */
.custom-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* Header Styles */
.custom-table thead tr {
  background-color: #f5f5f5;
  text-align: left;
}

.custom-table th {
  font-weight: bold;
  padding: 12px 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

/* Body Row Styles */
.custom-table td {
  padding: 12px 16px;
  font-size: 14px;
  color: #555;
}

.custom-table tbody tr {
  transition: background-color 0.3s ease;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

/* Action Buttons */
.action-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

/* Add Button */
.add-btn {
//   bottom: 20px;
  right: 20px;
  background-color: #0d8efd;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
//   border-radius: 50px;
//   padding: 10px 20px;
  mat-icon {
    color: white !important;
    margin: unset !important;
    font-size: 20px;
  }
} 
